.i{
    display:flex;
    height: 100vh;
}
.intro-left{
    flex:1;
    display: flex;
    align-items: center;
}
.intro-right{
    flex:1;
}
.intro-right img{max-width: 100%;}
.mypic{object-fit: cover;}

.i-left-wrapper{padding: 50px; text-align: left;} 
.intro-para{font: size 30px; margin-bottom: 5px;}
.intro-author{font-size: 50px; margin-bottom: 10px;}

.i-title{
    height: 50px; overflow: hidden;
}
.title-item{
    height:50px; font-size: 30px; font-weight: bold; color:#59b256;
    background-color: blueviolet; display: flex; align-items: center;
}
.title-wrapper{
    height: 100%;
    animation:move 5s ease-in infinite; 
}

@keyframes move {
    25%{transform: translateY(-50px);}
    50%{transform: translateY(-100px);}
    75%{transform: translateY(-150px);}
    100%{transform: translateY(-200px);}
}