.pl{
    padding:50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pl-title{
    margin-top: 50px;
    font-size:50px;
    font-weight: 900;
}
.pl-desc{
    margin:20px 0 40px; 
}
.pl-list{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.project-container{width:100%; display:flex; flex-wrap: wrap}
.project-half{flex:1;}

@media only screen and (max-width: 699px) {
    .project-half{flex:100%;}
}

.project-half h2{margin-bottom:30px; font-size:26px; font-weight:600;}
.link-box{
    border-radius: 12px; 
    width:320px; 
    margin:0 auto 40px;
    overflow: hidden;
    height:auto;
    box-sizing: border-box;
    position:relative;
}
/*.bg-img{
    transition: transform 0.2s;
}
.bg-img:hover{transform: scale(1.1);}*/

.link-box img{display:block;}
.link-box a{text-decoration: none;}

.shadow{
    position:absolute; 
    top:0; left:0; width:100%; height:100%; 
    background-color: rgba(0,0,0, 0.5);
    color:#fff; text-align:center;
    display:flex; align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.2s;
}
.shadow:hover{background-color: rgba(0,0,0,0.7);}
.shadow p{text-align:center; width:100%; 
    font-size: 20px; font-weight: 600;
    text-shadow:2px 2px 5px rgba(0,0,0, 0.5); 
}
.shadow p:hover{text-decoration: underline;}