.itemBox{
    width:250px;
    height:320px;
    margin:20px 15px;
    border-radius: 8px;
    overflow: hidden;
    position:relative;
    background-color: #fff;
    border:1px solid #d8d8d9;
}
.itemBox a{
    text-decoration: none;
    color:#60b0f4;
}
.itemBox img{display: block;}

.itemBox p{
    color:#6d6e71;
}
.box-text{
    margin-top:20px;
}
.item-disc{
    font-weight:500;
    font-size: 20px;
}
.p-arrow{
    margin-bottom:15px; 
     display:flex; 
    align-items: center;
    justify-content: center;
    padding-top:15px;
    font-weight:500;
}
.p-arrow:hover{text-decoration: underline;}
/*.p-browser{
    height:20px; 
    background-color: #eee;
    display:flex;
    align-items: center;
    position:sticky;
    z-index: 2;
}
.p-circle{
    width:6px; height:6px;
    border-radius: 50%;
    background-color:#fff;
    margin:0 3px;
}
.p-img{
    width:100%;
    transition: all 10s ease;
}
.itemBox:hover .p-img{
   transform: translateY(-100%);
}*/